@import '/node_modules/bootswatch/dist/flatly/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

.link {
  color: $primary;
  text-decoration: none;
}
.link:hover {
  color: $success;
}
.demoBtn {
  color: $white;
  text-decoration: none;
}
