@import "/node_modules/bootswatch/dist/flatly/variables";

.link {
  color: $primary;
  text-decoration: none;
}
.link:hover {
  color: $success;
}
.demoBtn {
  color: $white;
  text-decoration: none;
}
