@import '/node_modules/bootswatch/dist/flatly/variables';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/_variables';
@import 'node_modules/bootstrap/scss/_mixins/';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';

.imageContainer {
  > img {
    @include media-breakpoint-up(xs) {
      max-width: 350px;
      max-height: 350px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 500px;
      max-height: 250px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 600px;
      max-height: 300px;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 700px;
      max-height: 350px;
    }
  }
}
